<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb623089206491038</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.102020865498-12jhfvtcn3almq934a3cvpv7p20i2eu7</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>623089206491038</string>
	<key>FacebookClientToken</key>
	<string>fa20f1e5f971846a1838e5984483adfd</string>
	<key>FacebookDisplayName</key>
	<string>QuizzApp</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    
    <key>GIDClientID</key>
    <string>102020865498-12jhfvtcn3almq934a3cvpv7p20i2eu7.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.102020865498-12jhfvtcn3almq934a3cvpv7p20i2eu7</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
